---
import { db } from '@/lib/db';

import { siteConfig } from '@/siteConfig';
import { jsonObjectFrom } from 'kysely/helpers/sqlite';
import Layout from '../layouts/Layout.astro';

const session = Astro.locals.session;
const user = Astro.locals.user!;

if (!session) {
	return Astro.redirect('/', 401);
}

const applications = await db
	.selectFrom('EmailApplication')
	.select((eb) => [
		'id',
		'username',
		'recoveryEmail',
		'recoveryEmailDescription',
		'recoveryPhone',
		'recoveryPhoneDescription',
		'approved',
		jsonObjectFrom(
			eb
				.selectFrom('User')
				.select(['id', 'email', 'name'])
				.whereRef('EmailApplication.userId', '==', 'User.id'),
		).as('user'),
	])
	.execute();

applications.sort((a, b) => {
	if (a.approved && !b.approved) {
		return 1;
	}
	if (!a.approved && b.approved) {
		return -1;
	}
	return 0;
});
---

<Layout>
	<div class="flex flex-col h-full sm:w-5/6 md:w-2/3 mx-auto pt-32">
		<h1 class="text-3xl font-bold text-center">Manage Applications</h1>
		<p class="text-center mt-3">View and manage pending ec3.dev emails requests here</p>

		<div class="overflow-x-auto mt-8">
			<table class="table table-zebra">
				<!-- head -->
				<thead>
					<tr>
						<th>Application ID</th>
						<th>Applicant Name</th>
						<th>Applicant Email</th>
						<th>Requested Email</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<!-- row 1 -->
					{applications.length && applications.map((application, idx) => {
						return (
							<tr>
								<td>{application.id}</td>
								<td>{application.user!.name}</td>
								<td>{application.user!.email}</td>
								<td>{application.username}@ec3.dev</td>
								<td>
									{!application.approved && (
										<div class="flex gap-2">

											<button class="btn btn-sm btn-neutral" onclick={`detailsModal${idx}.showModal()`}>View Details</button>
											<dialog id={`detailsModal${idx}`} class="modal">
												<div class="modal-box">
													<div class="w-full flex justify-between">
														<h3 class="text-lg font-bold">Application Details</h3>
														<button class="btn btn-sm btn-ghost px-2 btn-circle" onclick={`detailsModal${idx}.close()`}>
															<span class="icon-[mdi--close] h-4 w-4"></span>
														</button>
													</div>
													<table class="mt-4 w-full">
														<thead>
															<tr>
																<th>Field</th>
																<th>Value</th>
															</tr>
														</thead>
														<tbody>
															<tr>
																<td>Recovery Email</td>
																<td>{application.recoveryEmail}</td>
															</tr>
															<tr>
																<td>Recovery Email Description</td>
																<td>{application.recoveryEmailDescription}</td>
															</tr>
															<tr>
																<td>Recovery Phone</td>
																<td>{application.recoveryPhone || <span class="text-red-500">Not set</span>}</td>
															</tr>
															<tr>
																<td>Recovery Phone Description</td>
																<td>{application.recoveryPhoneDescription || <span class="text-red-500">Not set</span>}</td>
															</tr>
															<tr>
																<td>Status</td>
																<td>{!application.approved ? <span class="text-yellow-500">Pending</span> : <span class="text-green-500">Approved</span>}</td>
															</tr>
														</tbody>
													</table>
												</div>
												<form method="dialog" class="modal-backdrop">
													<button>close</button>
												</form>
											</dialog>

											<form method="post" action={`/api/applications/${application.id}/approve`} class="flex gap-2">
												<button type="submit" class="btn btn-sm btn-success">Approve</button>
											</form>

											{/* <form method="post" action={`/api/applications/${application.id}/reject`} class="flex gap-2">
												<button type="submit" class="btn btn-sm btn-error">Reject</button>
											</form> */}

											<button class="btn btn-sm btn-error" onclick={`rejectModal${idx}.showModal()`}>Reject</button>
											<dialog id={`rejectModal${idx}`} class="modal">
												<div class="modal-box">
													<div class="w-full flex justify-between">
														<h3 class="text-lg font-bold">Reject Application</h3>
														<button class="btn btn-sm btn-ghost px-2 btn-circle" onclick={`rejectModal${idx}.close()`}>
															<span class="icon-[mdi--close] h-4 w-4"></span>
														</button>
													</div>
													<form method="post" action={`/api/applications/${application.id}/reject`} class="flex flex-col gap-2 py-4">
														<label for="rejectionReason" class="block">Please enter a rejection reason:</label>
														<textarea class="textarea textarea-bordered resize-y" name="rejectionReason" id="rejectionReason" placeholder="Obscene Username" class="form-input" required></textarea>
														<button type="submit" class="btn btn-sm btn-error mt-2">Reject</button>
													</form>
												</div>
												<form method="dialog" class="modal-backdrop">
													<button>close</button>
												</form>
											</dialog>
											
										</div>
									)}
									{!!application.approved && (
										<span class="text-green-500">Approved</span>
									)}
								</td>
							</tr>
						)
					})}
					{!applications.length && (
						<tr>
							<td colspan="7" class="text-center">No pending/approved applications found. Slacky day it seems.</td>
						</tr>
					)}
				</tbody>
			</table>
		</div>
	</div>
</Layout>